*.c working-tree-encoding=IBM1047 git-encoding=utf-8
*.h working-tree-encoding=IBM1047 git-encoding=utf-8
Makefile working-tree-encoding=IBM1047 git-encoding=utf-8
.gitattributes working-tree-encoding=iso8859-1
.gitignore working-tree-encoding=iso8859-1
* text=auto eol=lf
